/* Colors */

$dark-violet: #3A3E54;
$pink: #F2DCE0;
$medium-gray: #949AA8;
$dark-gray: #7A808F;
$white: #FFFFFF;
$pale-gray: #F2F3F5;
$light-gray: #E4E6EB;
$gray: #D4D6DB;

/* Basic theme */
$accent-color: $dark-violet;
$primary-accent-color: $pink;
$secondary-accent-color: $medium-gray;
$ternary-accent-color: $dark-gray;
$base-color: $white;
$secondary-base-color: $pale-gray;
$primary-base-color: $light-gray;
$ternary-base-color: $gray;

/* keks */
$medium-font-size: 14px;
$font-family: 'CarosRegular', cursive;
$medium-line-height: 17px;