@font-face {
  font-family: 'CarosRegular';
  src: url("fonts/CarosSoft.ttf") format('truetype');
}

@font-face {
  font-family: 'CarosBold';
  src: url("fonts/CarosSoftBold.ttf") format('truetype') ;
}

@font-face {
  font-family: 'CarosBolder';
  src: url("fonts/CarosSoftBlack.ttf") format('truetype');
}

@font-face {
  font-family: 'CarosBolderItalic';
  src: url("fonts/CarosSoftBlack-Italic.ttf") format('truetype');
}

